header {
    background: black;
    display: flex;
    justify-content: center;
    height: 500px;
    button {
        background: $primaryBtn;
        // & symbol to add a hover, focus 
        &:hover {
            background: $primaryBtn;
        }
        // &:
        &:after {
            content: 'Helloooo';
        }
    }
    p {
        color: white;
    }
}