/* To create a variable on SASS use $ 
$main-fonts: Arial, sans-serif;
$headings-color: green; */

$primaryBtn: rgb(182, 85, 153);

header {
    background: $primaryBtn;
}

// Nesting elements inside the parent

header {
    background: black;
    display: flex;
    justify-content: center;
    button {
        background: red;
        // & symbol to add a hover, focus 
        &:hover {
            background: yellow;
        }
        // &:
        &:after {
            content: 'Helloooo';
        }
    }
    p {
        color: white;
    }
}

// 